*{
    margin:0;
    padding:0;
}

body{
    background-color:#7FDBFF;
}

.navbar{
    background-color: gray;
    margin:0px;
    list-style-type: none;
    overflow: hidden;
}

.navbar li{
    float:left;
    margin:10px;
}

.navbar a{
    color:white;
    padding:12px;
    text-decoration:none;
}

/* .column {
  flex: 33.3%;
  padding: 5px;
}

.row {
  display: flex;
} */
.column {
  margin-top: 10px;
  float: left;
  width: 33.3%;
  padding: 10px;
  margin-bottom: 10px;

}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.table{
  border: 1;
  border-color: red;
  width: 1500;
  height: 1200;
}