*{
    margin:0;
    padding:0;
}

body{
    background-color:#7FDBFF;
}

.navbar{ 
    background-color: gray;
    margin:0px;
    list-style-type: none;
    overflow: hidden;
}

<<<<<<< HEAD
.navbar li{
    float:left;
    margin:10px;
=======
li{
    float: left;
>>>>>>> d0fb08aa283f6e0e54c9aa67ee355b41200a08d2
}

.navbar a{
    color:white;
    padding:12px;
    text-decoration:none;
}
