*{
    margin:0;
    padding:0;
}

.transition1, .transition2, .transition3{
    width:200px;
    margin-top:2px;
    margin-bottom: 2px;
    background:gray;
    height:100px;
    text-align:center;
}

.transition1{
    transition: 1s ease-in
}

.transition2{
    transition: 1s ease-out
}

.transition3{
    transition: 1s ease-in-out
}

.container:hover .transition1, .container:hover .transition2, .container:hover .transition3{
    width: 400px;
    background-color:lime;
}